$color-white: #ffffff;
$color-black: #000000;
$color-bg-black: #0E0E0F;
$color-black-main: #303030;
$color-light-gray: #E7E6E6;
$color-card-bg: #FBFBFB;
$color-card-bg-dark: #292D32;
$color-card-border: #EFEDED;
$color-card-border-dark: #8A8E97;
$color-card-text: #302F2F;
$color-fill-email-img: #636262;
$color-fill-email-img-dark: #818080;
$color-card-email: #989191;
$color-card-email-dark: #A29B9B;
$color-fill-img: #1C1C1C;
$color-switch: #B1B0BD;
$color-switch-dark: #6C8BFF;
$color-switch-light-fill: #3860F9;
$color-switch-light-fill-2: #575663;
$color-switch-dark-fill: #D9D8E5;


$primary-font: 'Rubik', sans-serif;
$font-2: 'VT323', sans-serif;
